.face5 {
   background: url('spritesheet.png') no-repeat -0px -0px;
   width: 320px;
   height: 360px;
}
.square {
   background: url('spritesheet.png') no-repeat -642px -361px;
   width: 64px;
   height: 64px;
}
.cross {
   background: url('spritesheet.png') no-repeat -642px -426px;
   width: 64px;
   height: 64px;
}
.face1 {
   background: url('spritesheet.png') no-repeat -321px -0px;
   width: 320px;
   height: 360px;
}
.face2 {
   background: url('spritesheet.png') no-repeat -0px -361px;
   width: 320px;
   height: 360px;
}
.face3 {
   background: url('spritesheet.png') no-repeat -321px -361px;
   width: 320px;
   height: 360px;
}
.face4 {
   background: url('spritesheet.png') no-repeat -642px -0px;
   width: 320px;
   height: 360px;
}